/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* main css start 
* { 
  outline: 1px solid red;
}*/

body {
	background: black;
	color: blue;
	font-family: verdana;
}

.title {
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
}

.instructions {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

.input {
	width: 400px;
	position:relative;
	margin: 40px;
	left: 360px ;
	outline: 5px solid red;
}

.form {
	height: 25px;
	width: 300px;
	padding: 10px 10px 10px 10px;
	margin: 10px;
	display: block;
	position: relative;
}

.add {
	height: 25px;
	width: 75px;
	margin: 10px;
	padding: 5px;
	text-align: center;
	display: block;
	position: relative;
	font-weight: bold;
	font-size: 20px;
}
.container{
	width: 400px;
	position: relative;
	left: 400px;
	outline: 5px solid red;
}
.list {
	height: 300px;
	width: 400px;
	position: relative;
	display: block;
	padding-bottom: 20px;
	overflow-y: scroll;
}

.item {
	padding: 20px;
	font-size: 20px;
	font-weight: bold;
}

.checked {
	text-decoration: line-through;
	color: #436EEE;
}

.delete {
	height: 25px;
	width: 75px;
	margin: 10px;
	padding: 5px;
	text-align: center;
	display: block;
	position: relative;
	left: 400px;
	font-weight: bold;
	font-size: 20px;
}

.help {
	height: 25px;
	width: 450px;
	margin: 10px;
	padding: 5px;
	text-align: center;
	display: block;
	position: relative;
	font-weight: bold;
	font-size: 20px;
	float: right;
}

input[type=button] {
	border-radius: 5px;
	font-weight: bold;
	color: blue;
	background: grey;
}

